In [1]:
import pandas as pd
import statsmodels.api as sm

# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [2]:
df = pd.read_csv("C:\\Users\\sneha\\Cutlets.csv")
df.head(3)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300

H0: Significant difference in the diameter of the cutlet between two units are same

H1: There is any significant difference in the diameter of the cutlet between two units

In [3]:
a = sm.stats.ttest_ind(df.iloc[:,0], df.iloc[:,1])
a

(0.7228688704677945, 0.47223947245995745, 68.0)

In [4]:
alpha = 0.05

In [5]:
p = a[1]
p

0.47223947245995745

In [6]:
p > alpha

True

Fail to reject H0

There is no any difference in the diameter of the cutlet between two units

# A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [7]:
df1 = pd.read_csv("C:\\Users\\sneha\\Downloads\\LabTAT.csv")

In [8]:
df1.head(3)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18

H0: Average TAT among all liboratories are same

H1: There is any difference in Average TAT among liboratories.

In [9]:
import scipy.stats as stats

In [10]:
b = stats.f_oneway(df1.iloc[:,0],df1.iloc[:,1],df1.iloc[:,2],df1.iloc[:,3])
b

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [11]:
p1 = b[1]
p1.round(4)

0.0

In [12]:
p1<alpha

True

Reject H0

There is difference in Average TAT among all liboratories.

# Hypothesis Testing Exercise

H0: All proportions are equal

H1: Not all Proportions are equal

In [13]:
p1 = pd.read_csv("C:\\Users\\sneha\\Downloads\\BuyerRatio.csv")

In [14]:
p1.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [15]:
p1.set_index('Observed Values',inplace = True)

In [16]:
p1

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [17]:
import scipy.stats as stats

In [21]:
a = stats.chi2_contingency(p1)
a

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [23]:
p_value = a[1]
p_value

0.6603094907091882

In [24]:
alpha = 0.05

In [25]:
p_value > alpha

True

Fail to reject H0

Therefore, not all propotions are equal.

# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [37]:
p2 = pd.read_csv("C:\\Users\\sneha\\Downloads\\Costomer+OrderForm.csv")
p2

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [38]:
p2['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [50]:
p2['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [51]:
p2['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [52]:
p2['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [56]:
df = pd.DataFrame(index= ['Error Free','Defective'],
                 data ={'Phillippines':[271,29],'Indonesia':[267,33],
                         'Malta':[269,31],
                         'India':[280,20]})

In [57]:
df

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [ ]:
Ho: Percentages of Defective across all the centres are same.
H1: Percentages of Defective across all the centres is same.

In [60]:
b = stats.chi2_contingency(df)
b

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [62]:
p_value = b[1]
p_value

0.2771020991233135

In [63]:
alpha

0.05

In [65]:
p_value > alpha

True

Fail to reject null hypothesis

Percentages of Defective across all the centres is same.